[tool.poetry]
name = "meltanolabs-target-snowflake"
version = "0.0.0"
description = "Singer target for Snowflake, built with the Meltano SDK for Singer Targets."
readme = "README.md"
authors = ["Ken Payne"]
maintainers = ["Meltano Team and Community <hello@meltano.com>"]
keywords = [
    "ELT",
    "Snowflake",
]
license = "Apache-2.0"
packages = [
    { include = "target_snowflake" }
]

[tool.poetry.dependencies]
python = ">=3.9"
certifi = "2025.4.26"  # See https://github.com/certifi/python-certifi/issues/349
cryptography = ">=40"
snowflake-sqlalchemy = "==1.7.3"
snowflake-connector-python = { version = "~=3.15", extras = ["secure-local-storage"] }
sqlalchemy = "~=2.0.31"

[tool.poetry.dependencies.singer-sdk]
version = "~=0.45.11"

[tool.poetry.group.dev.dependencies]
coverage = ">=7.2.7"
pytest = ">=7.4.3"
pytest-xdist = ">=3.3.1"

[tool.poetry.group.dev.dependencies.singer-sdk]
version="~=0.45.11"
extras = ["testing"]

[tool.ruff]
line-length = 120
src = ["target_snowflake"]
target-version = "py39"

[tool.ruff.lint]
ignore = [
    "ANN201",
    "COM812",
    "TD",
    "D",
    "FIX",
]
select = ["ALL"]

[tool.ruff.lint.flake8-annotations]
allow-star-arg-any = true

[tool.ruff.lint.isort]
known-first-party = ["target_snowflake"]
required-imports = ["from __future__ import annotations"]

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["S101", "S608", "PLR2004", "ANN"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[build-system]
requires = ["poetry-core>=1.0.8", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.scripts]
# CLI declaration
target-snowflake = 'target_snowflake.target:TargetSnowflake.cli'

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"

[tool.pytest.ini_options]
addopts = '--durations=10'
