name: Test target-snowflake

on:
  push:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - target_snowflake/**
    - tests/**
    - uv.lock
    - pyproject.toml
    - tox.ini
  pull_request:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - target_snowflake/**
    - tests/**
    - uv.lock
    - pyproject.toml
    - tox.ini
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  pytest:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      SINGER_SDK_LOG_CONFIG: ./target_snowflake_logging.yaml
      TARGET_SNOWFLAKE_USER: ${{secrets.TARGET_SNOWFLAKE_USER}}
      TARGET_SNOWFLAKE_PASSWORD: ${{secrets.TARGET_SNOWFLAKE_PASSWORD}}
      TARGET_SNOWFLAKE_ACCOUNT: ${{secrets.TARGET_SNOWFLAKE_ACCOUNT}}
      TARGET_SNOWFLAKE_DATABASE: ${{secrets.TARGET_SNOWFLAKE_DATABASE}}
      TARGET_SNOWFLAKE_WAREHOUSE: ${{secrets.TARGET_SNOWFLAKE_WAREHOUSE}}
      TARGET_SNOWFLAKE_ROLE: ${{secrets.TARGET_SNOWFLAKE_ROLE}}
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"
        os:
        - ubuntu-latest
        include:
        - python-version: "3.14"
          os: "macos-latest"
        - python-version: "3.14"
          os: "windows-latest"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Python ${{ matrix.python-version }}
      id: setup-python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        version: ">=0.9"
    - name: Install dependencies
      env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: |
        uv sync --all-extras --dev
    - name: Test with pytest
      run: |
        uv run pytest -n auto
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: snowflake-logs-py${{ matrix.python-version }}-${{ matrix.os }}
        path: snowflake.log
